<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Lista Aspirante</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>

	<div class="container">
		<div class="row">
			<h1>Lista de Aspirantes</h1>
		</div>
		<div class="col-lg-3">
		<a th:href="@{/Aspirante/Registrar}" class="btn btn-primary btn-sm mb3">Agregar estudiante</a>
		</div>
		<br>
		<table class="table table-dark table-hover">
			<thead class="table-bordered">
				<tr>
					<th>Numero Documento</th>
					<th>Tipo Documento</th>
					<th>Correo</th>
					<th>Nombres</th>
					<th>Apellidos</th>
					<th>Telefono</th>
					<th>Dirección</th>
					<th>Nacionalidad</th>
					<th>Contrato</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Aspirante : ${Aspirante}">
				<td th:text="${Aspirante.numDocumento}">Nombres</td>
				<td th:text="${Aspirante.TipoDC}">Nombres</td>	
				<td th:text="${Aspirante.Correo}">Nombres</td>
				<td th:text="${Aspirante.Nombre}">Nombres</td>
				<td th:text="${Aspirante.Apellido}">Nombres</td>
				<td th:text="${Aspirante.telefono}">Nombres</td>
				<td th:text="${Aspirante.Direccion}">Nombres</td>
				<td th:text="${Aspirante.Nacionalidad}">Nombres</td>
				<td th:value="IdContrato" th:text="${Aspirante.Contrato.NombreContrato}">Nombres</td>
				<td>

					<a th:href="@{/Aspirante/editar/{idaspirante}(idaspirante=${Aspirante.idaspirante})}" class="btn btn-info">Editar</a>
					<a
					th:href="@{/Aspirante/eliminar/{idaspirante}(idaspirante=${Aspirante.idaspirante})}"
				    class="btn btn-danger">Eliminar</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>