<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>Formulario aspirantes</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
	<h1>holaaaa</h1>
	<form th:action="@{/Guardar}" th:object=${Aspirante} method="post">

		<div class="form-group">
			<label>NumDocumuento :</label>
			<input type="number" th:field="*{NumDocumento}"  name="NumDocumuento" class="form-control" placeholder="Digite NumDocumuento" required></input>
		</div>
		<br>
		<div class="form-group">
			<label>TipoDC :</label>
			<input type="text" th:field="*{TipoDC}"  name="TipoDC" class="form-control" placeholder="Digite TipoDC" required></input>
		</div>
		<br>
		<div class="form-group">
			<label>Correo :</label>
			<input type="text" th:field="*{Correo}"  name="Correo" class="form-control" placeholder="Digite Correo" required></input>
		</div>
		<br>
		<div class="form-group">
			<label>Nombre :</label>
			<input type="text" th:field="*{Nombre}"  name="Nombre" class="form-control" placeholder="Digite Nombre" required></input>
		</div>
		<br>
		<div class="form-group">
			<label>Apellido :</label>
			<input type="text" th:field="*{Apellido}"  name="Apellido" class="form-control" placeholder="Digite Apellido" required></input>
		</div>
		<br>
		<div class="form-group">
			<label>Telefono :</label>
			<input type="number" th:field="*{Telefono}"  name="Telefono" class="form-control" placeholder="Digite Telefono" required></input>
		</div>
		<br>
		<div class="form-group">
			<label>Direccion :</label>
			<input type="text" th:field="*{Direccion}"  name="Direccion" class="form-control" placeholder="Digite Direccion" required></input>
		</div>
		<br>
		<div class="form-group">
			<label>Nacionalidad :</label>
			<input type="text" th:field="*{Nacionalidad}"  name="Nacionalidad" class="form-control" placeholder="Digite Nacionalidad" required></input>
		</div>
		<br>
		<label class="col-md-2" for="Contrato">Contrato:</label>
		<select th:field=" *{Contrato} " class="form-contrl form-control-sm col-md-6" id="Contrato">
			<option  type="number"  th:each="Contrato:${Contrato}"
					 th:value="${Contrato.IdContrato}"
					 th:text="${Contrato.IdContrato}"


			/>

		</select>



		 <div class="bx-footer">
        <button class=" btn btn-success" style="margin-left: 200px">Guardar</button>
        </div>



	</form>
</body>
</html>