* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Bahnschrift;
}

.form {
	background: #ff914d;
	margin-top: 100px;
}

/*color de los hover*/
.w3-hover-theme:hover {
  color: #fff !important;
  background-color: #ffbd59 !important;

}