<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cargo</title>
  <link rel="stylesheet" href="/css/style_Calificacion.css">
  <link rel="stylesheet" href="/css/w3.css">
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <!-----estilos jquery----->
  <!-- DataTable -->
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/1.13.1/css/dataTables.bootstrap5.min.css"
  />
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.datatables.net/buttons/2.3.3/css/buttons.bootstrap5.min.css"
  />
  <!-- Bootstrap-->
  <link
          rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
  />
  <!-- Font Awesome -->
  <link
          rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer"
  />

 </head>
<body>
<div class="sidebar close">
  <div class="logo-details">
    <img class="logo-details" src="img/Logo.png">
    <span class="logo_name">Tecno&Art</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt' ></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Category</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-collection' ></i>
          <span class="link_name">Ventas    </span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Ventas</a></li>
        <li><a href="#">Consultar Venta</a></li>
        <li><a href="#">Registrar Venta</a></li>
        <li><a href="#">Consultar Servicio</a></li>
        <li><a href="#">Registrar Servicio</a></li>
        <li><a href="#">Consultar Cotizacion</a></li>
        <li><a href="#">Registrar Cotizacion</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">Pqrs    </span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Pqrs</a></li>
        <li><a href="#">Requistrar Pqrs</a></li>
        <li><a href="#">Consultar Pqrs</a></li>
        <li><a href="#">Consultar Calificaciones</a></li>
        <li><a href="#">Registrar Calificacion</a></li>
      </ul>
    </li>

    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-plug' ></i>
          <span class="link_name">Contratación</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Contratación</a></li>
        <li><a href="#">Consultar Citas</a></li>
        <li><a href="#">Consultar cargos</a></li>
        <li><a href="#">Consultar Contratos</a></li>
        <li><a href="#">Consultar Vacante</a></li>
      </ul>
    </li>

    <div class="profile-details">
      <div class="profile-content">
        <!--img src="image/profile.jpg" alt="profileImg"-->
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-menu' ></i>
  </div>
  <div class="col-lg-3" id="botonAgregar">
    <a th:href="@{/Cargo/Registrar}" class="w3-button w3-round-large w3-blue"><i class="fa-solid fa-star-christmas"></i> Agregar</a>
  <br>  
  </div>
  <div class="container" id="containerTabla">
    <table class="table table-hover" id="example">
      <thead>
      <tr>
        <th>Id Usuario</th>
        <th>Nombre Usuario</th>
        <th>Fecha Cotizacion</th>
        <th>Descripcion</th>
        <th>Respuesta</th>
        <th>Fecha Resouesta</th>
        <th>Acciones</th>

      </tr>
    </thead>
    <tbody>
      <tr th:each="Cotizacion : ${Cotizacion}">
        <td th:text="${Cotizacion.Usuario.IdUsuario}">Nombres</td>
        <td th:text="${Cotizacion.Usuario.NombreCompleto}">Nombres</td>
        <td th:text="${Cotizacion.Fecha}">Nombres</td>
        <td th:text="${Cotizacion.Descriocion}">Nombres</td>
        <td th:text="${Cotizacion.Respuesta}">Nombres</td>
        <td th:text="${Cotizacion.FechaRespuesta}">Nombres</td>
        <td>

          <a th:href="@{/Cotizacion/editar/{IdCotizacion}(IdCotizacion=${Cotizacion.IdCotizacion})}" class="btn btn-info">Editar</a>
          <a
                  th:href="@{/Cotizacion/eliminar/{IdCotizacion}(IdCotizacion=${Cotizacion.IdCotizacion})}"
                  class="btn btn-danger">Eliminar</a></td>
      </tr>
    </tbody>
    </table>
  </div>
</section>>




<script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
   <!---scrips de data tables ---->
<!-- JQuery -->
<script
src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"
integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ=="
crossorigin="anonymous"
referrerpolicy="no-referrer"
></script>
<!-- DataTable -->
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"
></script>
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"
></script>
<script
type="text/javascript"
src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"
></script>
<script
type="text/javascript"
src="https://cdn.datatables.net/1.13.1/js/jquery.dataTables.min.js"
></script>
<script
type="text/javascript"
src="https://cdn.datatables.net/1.13.1/js/dataTables.bootstrap5.min.js"
></script>
<script
type="text/javascript"
src="https://cdn.datatables.net/buttons/2.3.3/js/dataTables.buttons.min.js"
></script>
<script
type="text/javascript"
src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.bootstrap5.min.js"
></script>
<script
type="text/javascript"
src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.html5.min.js"
></script>
<script
type="text/javascript"
src="https://cdn.datatables.net/buttons/2.3.3/js/buttons.print.min.js"
></script>
<!-- Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/prueba.js"></script>

</body>
</html>