<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/png" href="/img/logosolo.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editar Cotización</title>
    <!---Archivo css--->
    <link rel="stylesheet" href="/css/Style_editarCotizacion.css" />
</head>

<body>
<section class="container">

    <header>Actualizar cotización</header>
    <form th:action="@{/Contrato/{IdContrato}(IdContrato=${Contrato.IdContrato})}" th:object="${Contrato}" method="post" class="form formulario"
          id="formulario">

        <h2>Educación</h2>
        <!-- Grupo: NombreContrato -->
        <div class="input-box formulario__grupo" id="grupo__NombreContrato">
            <label for="NombreContrato" class="formulario__label">Nombre del contrato:</label>
            <div class="formulario__grupo-input">
                <input type="text" th:field="*{NombreContrato}" class="formulario__input" id="NombreContrato"
                       name="NombreContrato" >
                <i class="formulario__validacion-estado fas fa-times-circle"></i>
            </div>
            <p class="formulario__input-error">Por Favor digitar datos del contrato valido</p>
        </div>

        <div class="column">


            <!-- Grupo: Fecha Inicio -->
            <div class="input-box formulario__grupo" id="grupo__Fecha_inicio">
                <label for="Fecha_inicio" class="formulario__label">Fecha inicio del contrato:</label>
                <div class="formulario__grupo-input">
                    <input type="date" th:field="*{Fecha_inicio}" class="formulario__input" id="Fecha_inicio"
                           name="Fecha_inicio" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Fecha no válida. Por favor, ingrese una fecha en formato
                    YYYY/MM/DD</p>
            </div>

            <!-- Grupo: Fecha Final -->
            <div class="input-box formulario__grupo" id="grupo__Fecha_final">
                <label for="Fecha_final" class="formulario__label">Fecha final del contrato:</label>
                <div class="formulario__grupo-input">
                    <input type="date" th:field="*{Fecha_final}" class="formulario__input" id="Fecha_final"
                           name="Fecha_final" >
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Fecha no válida. Por favor, ingrese una fecha en formato
                    YYYY/MM/DD</p>
            </div>

        </div>

        <div class="formulario__mensaje" id="formulario__mensaje">
            <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                correctamente. </p>
        </div>

        <div class="formulario__grupo formulario__grupo-btn-enviar">
            <button type="submit" class="formulario__btn">Enviar</button>
            <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                    class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
        </div>
    </form>

</section>
<!--scrip de registrate------>
<script src="/js/Cotizacion.js"></script>
<!--scrip de iconos------>
<script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>

</body>

</html>