<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editar Resultado</title>
    <!---Archivo css--->
    <link rel="stylesheet" href="css/Style_editarResultado.css" />
</head>

<body>
    <section class="container">
        <header>Actualizar Resultado</header>
        <form action="#" class="form formulario" id="formulario">


            <div class="input-box address">
                <div class="column">

                    <!-- Grupo: ResultadoExamen -->
                    <div class="input-box formulario__grupo" id="grupo__Resultado">
                        <label for="Resultado" class="formulario__label">Resultado Examene</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="Resultado" id="Resultado" placeholder="">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre del servicio esta erroneo</p>
                    </div>

                    <!-- Grupo: ResultadoEntrevista -->
                    <div class="input-box formulario__grupo" id="grupo__ResultadoEntrevis">
                        <label for="ResultadoEntrevis" class="formulario__label">Resultado Entrevista</label>
                        <div class="formulario__grupo-input">
                            <input type="text" class="formulario__input" name="ResultadoEntrevis" id="ResultadoEntrevis"
                                placeholder="">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Escriba su numero de Documento</p>
                    </div>

                    <!----Grupo: Cita------>
                    <div class="formulario__grupo input-box" id="grupo__opcion">
                        <label for="opcion" class="formulario__label">Citas</label>
                        <select name="opcion" id="opcion" class="formulario__input select-box formulario__select">
                            <option value="">--Seleccione una opción--</option>
                            <option value="opcion1">Opción 1</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                        </select>
                        <p class="formulario__input-error"> Seleccione una opción válida.</p>
                    </div>
                </div>

            </div>


            </div>


            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                    correctamente. </p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Guardar</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                        class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
            </div>
        </form>


    </section>
    <!--scrip de registrate------>
    <script src="js/Resultado.js"></script>
    <!--scrip de iconos------>
    <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>

</body>

</html>