<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/png" href="/img/logosolo.png">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editar Resultado</title>
    <!---Archivo css--->
    <link rel="stylesheet" href="/css/Style_editarResultado.css" />
</head>

<body>
    <section class="container">
        <header>Actualizar Resultado</header>
        <form th:action="@{/Resultado/{IdResultado}(IdResultado=${Resultado.IdResultado})}" th:object="${Resultado}" method="post" class="form formulario" id="formulario">

            <div class="input-box address">
                <div class="column">

                    <!-- Grupo: ResultadoExamen -->
                    <div class="input-box formulario__grupo" id="grupo__Resultado_Examen">
                        <label for="Resultado_Examen" class="formulario__label">Resultado Examene</label>
                        <div class="formulario__grupo-input">
                            <input type="text" th:field="*{Resultado_Examen}" class="formulario__input" name="Resultado_Examen" id="Resultado_Examen"
                                   placeholder="">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">El nombre del servicio esta erroneo</p>
                    </div>

                    <!-- Grupo: ResultadoEntrevista -->
                    <div class="input-box formulario__grupo" id="grupo__Resultado_entrevista">
                        <label for="Resultado_entrevista" class="formulario__label">Resultado Entrevista</label>
                        <div class="formulario__grupo-input">
                            <input type="text" th:field="*{Resultado_entrevista}" class="formulario__input" name="Resultado_entrevista"
                                   id="Resultado_entrevista" placeholder="">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Escriba su numero de Documento</p>
                    </div>

                    <!----Grupo: Cita------>
                    <div class="formulario__grupo input-box" id="grupo__opcion">
                        <label for="opcion" class="formulario__label">Citas</label>
                        <select th:field="*{Cita}" name="opcion" id="opcion"
                                class="formulario__input select-box formulario__select">
                            <option value="">--Seleccione una opción--</option>
                            <option value="opcion1" th:each="Cita:${Citas}"
                                    th:value="${Cita.IdCita}"
                                    th:text="${Cita.nombre}"
                            />

                        </select>
                        <p class="formulario__input-error"> Seleccione una opción válida.</p>
                    </div>
                </div>

            </div>




            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                    correctamente. </p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Guardar</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                        class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
            </div>
        </form>
    </section>
    <!--scrip de registrate------>
    <script src="/js/Resultado.js"></script>
    <!--scrip de iconos------>
    <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>

</body>

</html>