<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editar Estado</title>
    <!---Archivo css--->
    <link rel="stylesheet" href="css/Style_editarEstado.css" />
</head>

<body>
    <section class="container">
        
        <header>Actualizar estado</header>
        <form action="#" class="form formulario" id="formulario">

            <!-- Grupo: Estado -->
            <div class="input-box formulario__grupo" id="grupo__Estado">
                <label for="Estado" class="formulario__label">Estado</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="formulario__input" name="Estado" id="Estado"
                        placeholder="">
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Compruebe el Estado que desea</p>
            </div>

            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                    correctamente. </p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Enviar</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                        class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
            </div>



        </form>
    </section>
    <!--scrip de registrate------>
    <script src="js/Estado.js"></script>
    <!--scrip de iconos------>
    <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>

</body>

</html>