<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/png" href="/img/logosolo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style_Calificacion.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/w3.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Boxiocns CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar PQRS</title>
</head>

<body style="background: #E4E9F7;">
    <div class="sidebar close">
      <div class="logo-details">
        <img class="logo-details" src="/img/Logo.png">
        <span class="logo_name">Tecno&Art</span>
      </div>
      <ul class="nav-links">
        <li>
          <a href="#">
            <i class='bx bx-grid-alt' ></i>
            <span class="link_name">Dashboard</span>
          </a>
          <ul class="sub-menu blank">
            <li><a class="link_name" href="#">Category</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-collection' ></i>
              <span class="link_name">Ventas    </span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Ventas</a></li>
            <li><a th:href="@{/cliente/Venta}">Consultar Venta</a></li>
            <li><a th:href="@{/cliente/Cotizacion}">Consultar Cotizacion</a></li>
            <li><a th:href="@{/Cotizacion/Registrar}">Registrar Cotizacion</a></li>
          </ul>
        </li>
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-book-alt' ></i>
              <span class="link_name">Pqrs    </span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Pqrs</a></li>
            <li><a th:href="@{/Pqrs/Registrar}">Requistrar Pqrs</a></li>
            <li><a th:href="@{/cliente/Pqrs}">Consultar Pqrs</a></li>
            <li><a th:href="@{/Calificacion/Registrar}">Registrar Calificacion</a></li>
          </ul>
        </li>
    
        <li>
          <div class="iocn-link">
            <a href="#">
              <i class='bx bx-plug' ></i>
              <span class="link_name">Contratación</span>
            </a>
            <i class='bx bxs-chevron-down arrow' ></i>
          </div>
          <ul class="sub-menu">
            <li><a class="link_name" href="#">Contratación</a></li>
            <li><a th:href="@{/Vacante}">Consultar Vacante</a></li>
          </ul>
        </li>

        <div class="profile-details">
            <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
                <div class="profile_name">Prem Shahi</div>
                <div class="job">Web Desginer</div>
            </div>
            <i class='bx bx-log-out' ></i>
        </div>
        </li>
    </ul>
</div>
<section class="home-section">
    <div class="home-content">
        <i class='bx bx-menu' ></i>
    </div>

    <div class="container-div">
            <div class="container1">

                <header>Generar PQRS</header>
                <form th:action="@{/Pqrs/Guardar}" th:object="${Pqrs}" method="post" class="form formulario" id="formulario">

                    <div class="form-group">
                        <label for="descripcion">Descripción:</label>
                        <input type="text" th:field="*{Descripcion}" id="descripcion" name="descripcion" class="form-control" required>
                        <div class="invalid-feedback">Este campo es requerido.</div>
                    </div>
                    <div class="form-group">
                        <label for="fecha">Fecha:</label>
                        <input type="date" th:field="*{Fecha}" id="fecha" name="fecha" class="form-control" required>
                        <div class="invalid-feedback">Este campo es requerido.</div>
                    </div>
                    <div class="form-group">
                        <label for="respuesta">Respuesta PQRS:</label>
                        <input type="text" th:field="*{RespuestaPqrs}" id="respuesta" name="respuesta" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="estado">Estado:</label>
                        <select th:field="*{Estado}" id="estado" name="estado" class="form-control" required>
                            <option value="">--Selecciona un Estado--</option>
                            <option value="opcion1" th:each="Estado:${Estado}"
                                    th:value="1">
                                    En Espera
                            </option>
                        </select>
                        <div class="invalid-feedback">Este campo es requerido.</div>
                    </div>
                    <div class="form-group">
                        <label for="tipo">Tipo:</label>
                        <select th:field="*{Tipo}" id="tipo" name="tipo" class="form-control" required>
                            <option value="">--Seleccione una opción--</option>
                            <option value="opcion1" th:each="Tipo:${Tipos}"
                                    th:value="${Tipo.IdTipo}"
                                    th:text="${Tipo.NombreTipo}"
                            />

                        </select>
                        <div class="invalid-feedback">Este campo es requerido.</div>
                    </div>
                    <div class="form-group">
                        <label for="prioridad">Prioridad:</label>
                        <select th:field="*{Prioridad}" id="prioridad" name="prioridad" class="form-control" required>
                            <option value="">--Seleccione una opción--</option>
                            <option value="opcion1" th:each="Prioridad:${Prioridades}"
                                    th:value="${Prioridad.IdPrioridad}"
                                    th:text="${Prioridad.NombrePrioridad}"
                            />
                        </select>
                        <div class="invalid-feedback">Este campo es requerido.</div>
                    </div>
                    <div class="form-group">
                        <label for="venta">Venta:</label>
                        <select th:field="*{Venta}"  id="venta" name="venta" class="form-control" required>>
                            <option value="">--Seleccione una opción--</option>
                            <option value="opcion1" th:each="Venta:${ventas}"
                                    th:value="${Venta.IdVenta}"
                                    th:text="${Venta.IdVenta}"
                            />
                        </select>
                        <div class="invalid-feedback">Este campo es requerido.</div>
                    </div>
                    <button type="submit" class="btn btn-primary">Guardar PQRS</button>
                </form>
            </div>
        </div>



    </section>
    <!--scrip de registrate------>
    <script src="/js/PQRS.js"></script>
    <!--scrip de iconos------>
    <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>

<script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>


</body>

</html>