<!DOCTYPE html>
<html lang="es" dir="ltr" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" href="/img/logosolo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style_Resultado.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/w3.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Boxiocns CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Resultado</title>
</head>

<body>
 <div class="sidebar close">
    <div class="logo-details">
        <img class="logo-details" src="/img/LogoSolo.png">
        <span class="logo_name">Tecno&Art</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Ventas    </span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Ventas</a></li>
                <li><a href="#">Consultar Venta</a></li>
                <li><a href="#">Registrar Venta</a></li>
                <li><a href="#">Consultar Servicio</a></li>
                <li><a href="#">Registrar Servicio</a></li>
                <li><a href="#">Consultar Cotizacion</a></li>
                <li><a href="#">Registrar Cotizacion</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-book-alt' ></i>
                    <span class="link_name">Pqrs    </span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Pqrs</a></li>
                <li><a href="#">Requistrar Pqrs</a></li>
                <li><a href="#">Consultar Pqrs</a></li>
                <li><a href="#">Consultar Calificaciones</a></li>
                <li><a href="#">Registrar Calificacion</a></li>
            </ul>
        </li>

        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-plug' ></i>
                    <span class="link_name">Contratación</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Contratación</a></li>
                <li><a href="#">Consultar Citas</a></li>
                <li><a href="#">Consultar cargos</a></li>
                <li><a href="#">Consultar Contratos</a></li>
                <li><a href="#">Consultar Vacante</a></li>
            </ul>
        </li>

        <div class="profile-details">
            <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
                <div class="profile_name">Prem Shahi</div>
                <div class="job">Web Desginer</div>
            </div>
            <i class='bx bx-log-out' ></i>
        </div>
        </li>
    </ul>
</div>

    <section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
        </div>

        <div class="container-div">
            <div class="container1">
                <header>Generar Resultado</header>
                <form th:action="@{/Resultado/Guardar}" th:object=${Resultado} class="form formulario" id="formulario">

                    <div class="input-box address">
                        <div class="column">

                            <!-- Grupo: ResultadoExamen -->
                            <div class="input-box formulario__grupo" id="grupo__Resultado_Examen">
                                <label for="Resultado_Examen" class="formulario__label">Resultado Examene</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" th:field="*{Resultado_Examen}" class="formulario__input" name="Resultado_Examen" id="Resultado_Examen"
                                        placeholder="">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">El nombre del servicio esta erroneo</p>
                            </div>

                            <!-- Grupo: ResultadoEntrevista -->
                            <div class="input-box formulario__grupo" id="grupo__Resultado_entrevista">
                                <label for="Resultado_entrevista" class="formulario__label">Resultado Entrevista</label>
                                <div class="formulario__grupo-input">
                                    <input type="text" th:field="*{Resultado_entrevista}" class="formulario__input" name="Resultado_entrevista"
                                        id="Resultado_entrevista" placeholder="">
                                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                </div>
                                <p class="formulario__input-error">Escriba su numero de Documento</p>
                            </div>

                            <!----Grupo: Cita------>
                            <div class="formulario__grupo input-box" id="grupo__opcion">
                                <label for="opcion" class="formulario__label">Citas</label>
                                <select th:field="*{Cita}" name="opcion" id="opcion"
                                    class="formulario__input select-box formulario__select">
                                    <option value="">--Seleccione una opción--</option>
                                    <option value="opcion1" th:each="Cita:${Citas}"
                                        th:value="${Cita.IdCita}"
                                        th:text="${Cita.nombre}"
                                    />

                                </select>
                                <p class="formulario__input-error"> Seleccione una opción válida.</p>
                            </div>
                        </div>

                    </div>




                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                            correctamente. </p>
                    </div>

                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Guardar</button>
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                                class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
                    </div>
                </form>
            </div>
        </div>



    </section>
    <!--scrip de registrate------>
    <script src="/js/Resultado.js"></script>
    <!--scrip de iconos------>
    <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>

    <script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>


</body>

</html>