<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="icon" type="image/png" href="/img/logosolo.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="/css/style_Cotizacion.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/w3.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <!-- Boxiocns CDN Link -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generar Cotizacion</title>
</head>

<body>
<div class="sidebar close">
    <div class="logo-details">
        <img class="logo-details" src="/img/Logo.png">
        <span class="logo_name">Tecno&Art</span>
    </div>
    <ul class="nav-links">
        <li>
            <a href="#">
                <i class='bx bx-grid-alt' ></i>
                <span class="link_name">Dashboard</span>
            </a>
            <ul class="sub-menu blank">
                <li><a class="link_name" href="#">Category</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-collection' ></i>
                    <span class="link_name">Ventas    </span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Ventas</a></li>
                <li><a th:href="@{/}">Consultar Venta</a></li>
                <li><a th:href="@{/}">Registrar Venta</a></li>
                <li><a th:href="@{/}">Consultar Servicio</a></li>
                <li><a th:href="@{/}">Registrar Servicio</a></li>
                <li><a th:href="@{/}">Consultar Cotizacion</a></li>
                <li><a th:href="@{/}">Registrar Cotizacion</a></li>
            </ul>
        </li>
        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-book-alt' ></i>
                    <span class="link_name">Pqrs    </span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Pqrs</a></li>
                <li><a th:href="@{/}">Requistrar Pqrs</a></li>
                <li><a th:href="@{/}">Consultar Pqrs</a></li>
                <li><a th:href="@{/}">Consultar Calificaciones</a></li>
                <li><a th:href="@{/}">Registrar Calificacion</a></li>
            </ul>
        </li>

        <li>
            <div class="iocn-link">
                <a href="#">
                    <i class='bx bx-plug' ></i>
                    <span class="link_name">Contratación</span>
                </a>
                <i class='bx bxs-chevron-down arrow' ></i>
            </div>
            <ul class="sub-menu">
                <li><a class="link_name" href="#">Contratación</a></li>
                <li><a th:href="@{/}">Consultar Citas</a></li>
                <li><a th:href="@{/}">Consultar cargos</a></li>
                <li><a th:href="@{/}">Consultar Contratos</a></li>
                <li><a th:href="@{/}">Consultar Vacante</a></li>
            </ul>
        </li>

        <div class="profile-details">
            <div class="profile-content">
                <!--<img src="image/profile.jpg" alt="profileImg">-->
            </div>
            <div class="name-job">
                <div class="profile_name">Prem Shahi</div>
                <div class="job">Web Desginer</div>
            </div>
            <i class='bx bx-log-out' ></i>
        </div>
        </li>
    </ul>
</div>

<section class="home-section">
        <div class="home-content">
            <i class='bx bx-menu' ></i>
        </div>

        <div class="container-div">
            <div class="container1">

                <header>Generar cotizacion</header>
                <form th:action="@{/Cotizacion/Guardar}" th:object="${Cotizacion}" method="post" class="form formulario" id="formulario">
                    <div class="column">
        
                        <!-- Grupo: Usuario -->
                        <div class="input-box formulario__grupo" id="grupo__Usuario">
                            <label for="Usuario" class="formulario__label">Usuario Completo</label>
                            <div class="formulario__grupo-input">
                                <input type="text" th:field="*{Usuario}" class="formulario__input" name="Usuario" id="Usuario"
                                    placeholder="John Rodrigues">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El usuario tiene que ser de 4 a 16 dígitos y solo puede
                                contener numeros, letras y guion bajo.</p>
                        </div>
        
                        <!-- Grupo: fecha -->
                        <div class="input-box formulario__grupo" id="grupo__fecha">
                            <label for="fecha" class="formulario__label">Fecha</label>
                            <div class="formulario__grupo-input">
                                <input type="date" th:field="*{fecha}" class="formulario__input" name="fecha" id="fecha" required>
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <span class="formulario__input-error">Fecha no válida. Por favor, ingrese una fecha en formato
                                DD/MM/YYYY.</span>
                        </div>
                    </div>
        
        
                    <!-- Grupo: Respuesta -->
                    <div class="input-box formulario__grupo" id="grupo__Respuesta">
                        <label for="Respuesta" class="formulario__label">Respuesta</label>
                        <div class="formulario__grupo-input">
                            <input type="number" th:field="*{Respuesta}" class="formulario__input" name="Respuesta" id="Respuesta" placeholder="1000000">
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Escriba su numero de Documento</p>
                    </div>
        
        
                    <!-- Grupo: DescripcionServicio -->
                    <div class="input-box formulario__grupo" id="grupo__Descriocion">
                        <label for="Descriocion" class="formulario__label">Comentarios</label>
                        <div class="formulario__grupo-input">
                            <textarea class="formulario__input" th:field="*{Descriocion}" name="Descriocion" id="Descriocion"  rows="4"></textarea>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">Ingresa comentarios válidos.</p>
                    </div>
        
                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                            correctamente. </p>
                    </div>
        
                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Enviar</button>
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                                class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
                    </div>
                </form>

            </div>
        </div>



    </section>
    <!--scrip de registrate------>
    <script src="/js/Cotizacion.js"></script>
    <!--scrip de iconos------>
    <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>


<script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>

</body>

</html>