<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Servicio </title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/w3.css">
  <!-- Boxiocns CDN Link -->
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="sidebar close">
  <div class="logo-details">
    <img class="logo-details" src="img/Logo.png">
    <span class="logo_name">Tecno&Art</span>
  </div>
  <ul class="nav-links">
    <li>
      <a href="#">
        <i class='bx bx-grid-alt' ></i>
        <span class="link_name">Dashboard</span>
      </a>
      <ul class="sub-menu blank">
        <li><a class="link_name" href="#">Category</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-collection' ></i>
          <span class="link_name">Ventas    </span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Ventas</a></li>
        <li><a href="#">Consultar Venta</a></li>
        <li><a href="#">Registrar Venta</a></li>
        <li><a href="#">Consultar Servicio</a></li>
        <li><a href="#">Registrar Servicio</a></li>
        <li><a href="#">Consultar Cotizacion</a></li>
        <li><a href="#">Registrar Cotizacion</a></li>
      </ul>
    </li>
    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-book-alt' ></i>
          <span class="link_name">Pqrs    </span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Pqrs</a></li>
        <li><a href="#">Requistrar Pqrs</a></li>
        <li><a href="#">Consultar Pqrs</a></li>
        <li><a href="#">Consultar Calificaciones</a></li>
        <li><a href="#">Registrar Calificacion</a></li>
      </ul>
    </li>

    <li>
      <div class="iocn-link">
        <a href="#">
          <i class='bx bx-plug' ></i>
          <span class="link_name">Contratación</span>
        </a>
        <i class='bx bxs-chevron-down arrow' ></i>
      </div>
      <ul class="sub-menu">
        <li><a class="link_name" href="#">Contratación</a></li>
        <li><a href="#">Consultar Citas</a></li>
        <li><a href="#">Consultar cargos</a></li>
        <li><a href="#">Consultar Contratos</a></li>
        <li><a href="#">Consultar Vacante</a></li>
      </ul>
    </li>

    <div class="profile-details">
      <div class="profile-content">
        <!--<img src="image/profile.jpg" alt="profileImg">-->
      </div>
      <div class="name-job">
        <div class="profile_name">Prem Shahi</div>
        <div class="job">Web Desginer</div>
      </div>
      <i class='bx bx-log-out' ></i>
    </div>
    </li>
  </ul>
</div>
<section class="home-section">
  <div class="home-content">
    <i class='bx bx-menu' ></i>
  </div>

  <div class="container">
    <div class="col-lg-3">
      <a th:href="@{/Usuario/Registrarse}" class="w3-button w3-round-large w3-blue" style="margin-button:100px;">Agregar Usuario</a>
    </div>
    <table class="display" id="example">
      <tr>
        <th>Nombre Servicio</th>
        <th>Valor Servicio</th>
        <th>Descripcion</th>
        <th>Acciones</th>



      </tr>
      <tr th:each="Servicio : ${Servicio}">
        <td th:text="${Servicio.Nombre_servicio}">Nombres</td>
        <td th:text="${Servicio.Valor_venta}">Nombres</td>
        <td th:text="${Servicio.Descripcion}">Nombres</td>

        <td>

          <a th:href="@{/Servicio/editar/{IdServicio}(IdServicio=${Servicio.IdServicio})}" class="btn btn-info">Editar</a>
          <a
                  th:href="@{/Servicio/eliminar/{IdServicio}(IdServicio=${Servicio.IdServicio})}"
                  class="btn btn-danger">Eliminar</a></td>




      </tr>
    </table>
  </div>

</section>>



<script>
  let arrow = document.querySelectorAll(".arrow");
  for (var i = 0; i < arrow.length; i++) {
    arrow[i].addEventListener("click", (e)=>{
   let arrowParent = e.target.parentElement.parentElement;//selecting main parent of arrow
   arrowParent.classList.toggle("showMenu");
    });
  }
  let sidebar = document.querySelector(".sidebar");
  let sidebarBtn = document.querySelector(".bx-menu");
  console.log(sidebarBtn);
  sidebarBtn.addEventListener("click", ()=>{
    sidebar.classList.toggle("close");
  });
  </script>
</body>
</html>