<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Editar PQRS</title>
    <!---Archivo css--->
    <link rel="stylesheet" href="css/Style_editarPQRS.css" />
</head>

<body>
    <section class="container">
        <header>Editar PQRS</header>
        <form action="#" class="form formulario" id="formulario">

            <div class="column">
                
                <!-- Grupo: Tipo -->
                <div class="formulario__grupo input-box" id="grupo-select">
                    <label for="opcion" class="formulario__label">Tipo</label>
                    <select name="opcion" id="opcion" class="formulario__input select-box formulario__select">
                        <option value="">--Seleccione una opción--</option>
                        <option value="opcion1">Opción 1</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                    </select>
                    <p class="formulario__input-error"> Seleccione una opción válida.</p>
                </div>

                <!----Grupo: prioridad ------>
                <div class="formulario__grupo input-box" id="grupo-select">
                    <label for="opcion" class="formulario__label">prioridad</label>
                    <select name="opcion1" id="opcion" class="formulario__input select-box formulario__select">
                        <option value="">--Seleccione una opción--</option>
                        <option value="opcion1">Opción 1</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                    </select>
                    <p class="formulario__input-error"> Seleccione una opción válida.</p>
                </div>
            </div>


            <!-- Grupo: Estado -->
            <div class="formulario__grupo input-box" id="grupo-select">
                <label for="opcion" class="formulario__label">Estado</label>
                <select name="opcion2" id="opcion" class="formulario__input select-box formulario__select">
                    <option value="">--Seleccione una opción--</option>
                    <option value="opcion1">Opción 1</option>
                    <option value="opcion2">Opción 2</option>
                    <option value="opcion3">Opción 3</option>
                </select>
                <p class="formulario__input-error"> Seleccione una opción válida.</p>
            </div>

            <div class="column">
                 <!-- Grupo: fecha -->
                 <div class="input-box formulario__grupo" id="grupo__fecha">
                    <label for="fecha" class="formulario__label">Fecha</label>
                    <div class="formulario__grupo-input">
                        <input type="date" class="formulario__input" name="fecha" id="fecha" required>
                        <i class="formulario__validacion-estado fas fa-times-circle"></i>
                    </div>
                    <span class="formulario__input-error">Fecha no válida. Por favor, ingrese una fecha en formato
                        YYYY/MM/DD.</span>
                </div>
                <!----Grupo: Venta------>
                <div class="formulario__grupo input-box" id="grupo-select">
                    <label for="opcion" class="formulario__label">Venta</label>
                    <select name="opcion3" id="opcion" class="formulario__input select-box formulario__select">
                        <option value="">--Seleccione una opción--</option>
                        <option value="opcion1">Opción 1</option>
                        <option value="opcion2">Opción 2</option>
                        <option value="opcion3">Opción 3</option>
                    </select>
                    <p class="formulario__input-error"> Seleccione una opción válida.</p>
                </div>


            </div>

            <!-- Grupo: Descripcion -->
            <div class="input-box formulario__grupo" id="grupo__comentarios">
                <label for="comentarios" class="formulario__label">Descripción</label>
                <div class="formulario__grupo-input">
                    <textarea class="formulario__input" name="comentarios" id="comentarios"  rows="4"></textarea>
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ingresa una descripcion Valida.</p>
            </div>



            <div class="formulario__mensaje" id="formulario__mensaje">
                <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                    correctamente. </p>
            </div>

            <div class="formulario__grupo formulario__grupo-btn-enviar">
                <button type="submit" class="formulario__btn">Enviar</button>
                <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                        class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
            </div>
        </form>

    </section>
    <!--scrip de registrate------>
    <script src="js/PQRS.js"></script>
    <!--scrip de iconos------>
    <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>

</body>

</html>