<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="css/style_roles.css">
    <link rel="stylesheet" href="css/style_Usuario.css">
    <link rel="stylesheet" href="css/w3.css">
    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <title>Generar Venta</title>
</head>

<body>
    <nav class="sidebar close">
        <header>
            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>



                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-bar-chart-alt-2 icon'></i>
                        <span class="text nav-text">Contratacion</span>
                    </a>
                </li>



                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-pie-chart-alt icon'></i>
                        <span class="text nav-text">Ventas</span>
                    </a>
                </li>

                <li class="nav-link">
                    <a href="#">
                        <i class='bx bx-heart icon'></i>
                        <span class="text nav-text">Pqrs</span>
                    </a>
                </li>

                </ul>
            </div>

            <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li>

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-moon icon moon'></i>
                        <i class='bx bx-sun icon sun'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>

                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>
            </div>
        </div>

    </nav>

    <section class="home">
        <div class="container-div">
            <div class="container1">

                <header>Realizar Venta</header>
                <form action="#" class="form formulario" id="formulario">

                    <!-- Fecha de venta y entrega -->
                    <div class="column">

                        <!-- Grupo: FechaVenta -->
                        <div class="input-box formulario__grupo" id="grupo__FechaVenta">
                            <label for="FechaVenta" class="formulario__label">Fecha de la Venta</label>
                            <div class="formulario__grupo-input">
                                <input type="date" class="formulario__input" name="FechaVenta" id="FechaVenta" required>
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <span class="formulario__input-error">Fecha no válida. Por favor, ingrese una fecha en
                                formato
                                YYYY/MM/DD.</span>
                        </div>

                        <!-- Grupo: FechaEntrega -->
                        <div class="input-box formulario__grupo" id="grupo__FechaEntrega">
                            <label for="FechaEntrega" class="formulario__label">Fecha de la Entrega</label>
                            <div class="formulario__grupo-input">
                                <input type="date" class="formulario__input" name="FechaEntrega" id="FechaEntrega"
                                    required>
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <span class="formulario__input-error">Fecha no válida. Por favor, ingrese una fecha en
                                formato
                                YYYY/MM/DD.</span>
                        </div>

                    </div>

                    <!----Grupo: tipo Usuario------>
                    <div class="formulario__grupo input-box" id="grupo__opcion">
                        <label for="opcion" class="formulario__label">Usuario</label>
                        <select name="opcion" id="opcion" class="formulario__input select-box formulario__select">
                            <option value="">--Seleccione una opción--</option>
                            <option value="opcion1">Opción 1</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                        </select>
                        <p class="formulario__input-error"> Seleccione una opción válida.</p>
                    </div>

                    <div class="column">

                        <!-- Grupo: Monto -->
                        <div class="input-box formulario__grupo" id="grupo__Monto">
                            <label for="Monto" class="formulario__label">Monto</label>
                            <div class="formulario__grupo-input">
                                <input type="number" class="formulario__input" name="Monto" id="Monto"
                                    placeholder="1000000">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El monto no es correcto</p>
                        </div>


                        <!-- Grupo: Estado -->
                        <div class="input-box formulario__grupo" id="grupo__Estado">
                            <label for="Estado" class="formulario__label">Estado</label>
                            <div class="formulario__grupo-input">
                                <input type="text" class="formulario__input" name="Estado" id="Estado"
                                    placeholder="Aprobado">
                                <i class="formulario__validacion-estado fas fa-times-circle"></i>
                            </div>
                            <p class="formulario__input-error">El estado es incorrecto.</p>
                        </div>

                    </div>

                    <!----Grupo: tipo VentaServicio------>
                    <div class="formulario__grupo input-box" id="grupo__opcion1">
                        <label for="opcion1" class="formulario__label">Venta Servicio</label>
                        <select name="opcion1" id="opcion1" class="formulario__input select-box formulario__select">
                            <option value="">--Seleccione una opción--</option>
                            <option value="opcion1">Opción 1</option>
                            <option value="opcion2">Opción 2</option>
                            <option value="opcion3">Opción 3</option>
                        </select>
                        <p class="formulario__input-error"> Seleccione una opción válida.</p>
                    </div>


                    <!-- Grupo: Opservacion -->
                    <div class="input-box formulario__grupo" id="grupo__comentarios">
                        <label for="comentarios" class="formulario__label">Opservación</label>
                        <div class="formulario__grupo-input">
                            <textarea class="formulario__input" name="comentarios" id="comentarios" rows="4"></textarea>
                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                        </div>
                        <p class="formulario__input-error">La opservacion no es valida.</p>
                    </div>

                    <div class="formulario__mensaje" id="formulario__mensaje">
                        <p><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena el formulario
                            correctamente. </p>
                    </div>

                    <div class="formulario__grupo formulario__grupo-btn-enviar">
                        <button type="submit" class="formulario__btn">Enviar</button>
                        <p class="formulario__mensaje-exito" id="formulario__mensaje-exito"><i
                                class="fa-solid fa-circle-check"></i> Formulario enviado exitosamente!</p>
                    </div>
                </form>

            </div>
        </div>
        <!--scrip de registrate------>
        <script src="js/Venta.js"></script>
        <!--scrip de iconos------>
        <script src="https://kit.fontawesome.com/f9d0333c9c.js" crossorigin="anonymous"></script>


    </section>

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })

        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })

        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>

</body>

</html>